<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard 2</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
        .toast {
          position: fixed;
          top: 0;
          right: 0;
          margin: 1rem;
          z-index: 9999;
        }
      </style>
</head>
<body>
    <h1>Dashboard 2</h1>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add contact
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--  -->
            <div class="container my-5">
                <form>
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" />
                  <br /><br />
                  <label for="email">Contact Number</label>
                  <input type="number" name="coNumber" id="ContcatNumber" />
                  <br /><br />
                  
                  <button type="submit" id="addContactSubBtn" class="btn btn-primary">
                    Submit
                  </button>
                  <!-- <span class="container"></span>   -->
          
          <!-- Bootstrap Toast -->
                  <div class="toast alert-danger" role="alert" aria-live="assertive" aria-atomic="true" id="responseToast">
                    <div class="toast-header ">
                      <strong class="me-auto">Alert</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body ">
                      <!-- Response message will be shown here -->
                    </div>
                  </div>
          
          
                </form>
              </div>
          <!--  -->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- show contact page link -->
  <a href="/showContact">Show Contact</a>

     <!-- jquery script -->
     <script
     src="https://code.jquery.com/jquery-3.6.0.min.js"
     integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
     crossorigin="anonymous"
   ></script>

   <!-- bootstrap script -->
   <script
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
     crossorigin="anonymous"
   ></script>


   <script>
    $(document).ready(function() { 
      $('form').on('submit', function(event) { 
          event.preventDefault(); 
            
          // It returns a array of object  
          let userinfo = $(this).serializeArray(); 
          let user = {}; 
          userinfo.forEach((value) => { 
                
              // Dynamically create an object 
              user[value.name] = value.value; 
          }); 
          // let url = "http://localhost:3000/createUser"; 
          $.ajax({ 
              method: "POST", 
              url: "http://localhost:3000/createContact", 
              data: user 
          }).done(function(msg) { 
              // When the request is successful 
              // $('span').text(msg.msg);
              if(msg.msg == "Contact created") {
                  location.href = "http://localhost:3000/dashboard2";
              }
              $('#responseToast .toast-body').text(msg.msg); 
              $('.toast').toast('show');
              
          }).fail(function(err, textstatus, error) { 
              // $('span').text(textstatus); 

              $('#responseToast .toast-body').text(textStatus); 
              $('.toast').toast('show');

          }); 
      }); 
  }); 
  </script>


</body>
</html>